
.description-header{
    width: 100%;
    column-gap:10px;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    /* grid-template-rows: max(20vh, 20%); */
    @apply md:grid-cols-3 md:grid-rows-1; 
}
@keyframes img-header {
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}
[data-transition="false"]{
    visibility: visible;
    animation: img-header 750ms forwards;
}
[data-transition="true"]{
    visibility: hidden;
    transform: scale(0.5);
}
.description-image{
    @apply grid place-content-center; 
}