@reference "@assets/css/index.css";

.conteiner-backgroundImage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transform: rotate(15deg);
  width: 120%;
  height: 100%;
  @apply relative -left-20 min-w-[500px] -z-20 select-none md:gap-x-7;
}
@keyframes recorrido-imagenes {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes recorrido-imagenes-inverted {
  from {
    transform: translateY(-85%);
  }
  to {
    transform: translateY(0%);
  }
}
.images-conteiner-row-1 {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-inline: 1rem;
  animation: 500s recorrido-imagenes infinite linear 100ms;
}
@keyframes come-in {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.images-conteiner-row-2 {
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-inline: 1rem;
  animation: 500s recorrido-imagenes-inverted infinite linear 100ms;
}
.images-conteiner-row-2 img {
  animation: 2s come-in forwards ease;
}
.images-conteiner-row-3 {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-inline: 1rem;
  animation: 600s recorrido-imagenes infinite linear 100ms;
}
@media (prefers-reduced-motion) {
  .images-conteiner-row-1 {
    transform: translateY(-50%);
    animation: none;
  }
  .images-conteiner-row-2 {
    transform: translateY(-80%);
    animation: none;
  }
  .images-conteiner-row-3 {
    transform: translateY(-10%);
    animation: none;
  }
}
@keyframes img-carrusel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loader-conteiner {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.loader-conteiner * {
  animation: 15s recorrido-imagenes infinite linear;
  @apply bg-[#a9a9a9]/30 w-[150px] h-[150px] md:w-[200px] md:h-[300px];
}
@keyframes animation-load-image {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  @keyframes recorrido-imagenes-inverted {
    from {
      transform: translateY(-84%);
    }
    to {
      transform: translateY(0%);
    }
  }
  @keyframes come-in {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .images-conteiner-row-2 img {
    animation: 3s come-in forwards ease;
  }
}
