---
import Default from "src/layouts/Default.astro";
import Image from "astro/components/Image.astro";
import Navegation from "@components/App/Navegation.astro";
import HeroImage from "@assets/img/HeroBlog.jpeg";
import HeroImageSkeleton from "@assets/img/HeroBlogSkeleton.jpg"
---

<Default>
  <header
    class="h-screen w-screen relative flex justify-center items-center max-h-screen overflow-hidden"
  >
    <Navegation />
    <div
      class="absolute inset-0 -z-50 before:absolute before:inset-0 before:bg-primary before:-z-40 before:opacity-40"
    >
      <div 
        class="inset-0 absolute bg-cover -z-50 animate-duration-500 animate-fade-in bg-center md:bg-top"
        style=`background-image:url(${HeroImageSkeleton.src})`
        >
        <Image
          src={HeroImage}
          alt="Background"
          class="bg-cover relative w-auto h-full md:w-full md:h-auto object-cover aspect-[9_/_16] md:aspect-video mx-auto -z-50"
          loading="eager"
          id="bg-hero"
        />
      </div>
    </div>
    <h1
      class="text-[20vw] md:text-[225px] animate-fade-in-down animate-delay-500 animate-duration-[800ms] select-none"
    >
      Blog
    </h1>
  </header>
  <main>
    <h2 class="text-[10vw] py-2 px-5 font-h1 text-complementOne">Articles</h2>
    <section>
      <article>Hola Mundo</article>
    </section>
  </main>
</Default>
