<div class="loading-section pre-loaded"></div>
<script>
    const div = document.querySelector(".loading-section"); 
    div?.addEventListener("animationend" ,() => {
        div.classList.remove("pre-loaded"); 
        div.classList.add("loaded")
      })
  </script>
  <style>
    @keyframes loader-out-projects{
      from{
        height: 110vh;
      }
      to{
        height: 0;
      }
    }
    @keyframes loader-in-projects{
      from{
        height: 0;
      }
      to{
        height: 120vh;
      }
    }
    .loading-section.loaded{
      animation: 750ms loader-out-projects forwards; 
      animation-delay:500ms;
    }
    .loading-section{
      animation: 750ms loader-in-projects forwards ease-out; 
      @apply fixed inset-x-0 top-0 bg-[#2a2a2a] rounded-b-3xl z-50 h-[120vh]; 
    }
  </style>