@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@plugin "@midudev/tailwind-animations";

html {
  @apply bg-primary text-complementary;
}
@font-face {
  font-family: "Alien";
  src: url("../fonts/Alien-Planet-3.ttf");
}
@theme {
  --font-title: "Alien", sans-serif;
  --font-base: "Nunito", sans-serif;
  /* --primary: #353535;  */
  --color-primary: #000;
  --color-light-primary: #2a2a2a;
  --color-secundary: #cf5c36;
  --color-complementary: #ffffff;
  --color-complementOne: #ffb20f;
  --color-complementTwo: #d04242;
}
h1 {
  font-family: var(--font-title);
}
p {
  font-family: var(--font-base);
}
