---
import Home from "../layouts/Default.astro"; 
import Header from "../components/Home/Header.astro"
import WhoAmI from "../components/Home/WhoAmI.astro"
import Footer from "../components/App/Footer.astro";
import CallProyects from "../components/Home/CallProyects.astro";
---
<Home desc="This is the home page of the porfolio">
	<div class="home">
		<Header/> 
		<WhoAmI/>
		<CallProyects/> 
		<Footer/>
	</div>
</Homa> 
<style>
	.home{
		overflow-x: hidden; 
	}
	@media (min-width: 768px){
		.home {
			display: grid; 
			grid-template-rows: 50vh 1fr 50vh;
			grid-template-columns: 1fr 1fr;
			grid-template-areas: 
    			"header section"
    			"header main"
    			"footer footer"; 
			gap: 20px; 
			@apply p-5; 
		}
		.home > *:not(section){
			@apply w-full !h-full !p-3 !m-0; 
		}
	}
	.home *{
		position:relative; 
		z-index: -50; 
	}
</style>