---
import ProjectsPage from "../layouts/Default.astro";
import Nav from "../components/App/Navegation.astro";
import Footer from "../components/App/Footer.astro";
import PageLoader from "../components/App/PageLoader.astro";
import ProjectImages from "../components/ProjectImages/index.astro"
import ProjectDescription from "../components/ProjectDescription"
---
<ProjectsPage desc="Showcase of Projects I have made" title="Projects">
  <Nav textLogo="Projects"/>
  <main class="relative">
    <ProjectImages/>
    <article class="md:h-screen w-full min-h-[75vh] flex flex-col px-2">
      <ProjectDescription client:load/>
    </article>
  </main>
  <Footer style="md:m-5"/>
  <PageLoader/>
</ProjectsPage>
<style>
  main {
    width: calc(100% - 4rem);
    display: grid;
    margin-top: 20%;
    margin-inline:auto;
    grid-template-columns: 100%;
    grid-template-rows: minmax(75vh, 1fr) minmax(50vh, max-content) ; 
  }
  @media (min-width: 769px){
    main {
      width: calc(100% - 4rem);
      display: grid;
      margin-top: 12vh;
      column-gap: 2rem;
      margin-inline:auto;
      grid-template-columns: 50% 1fr;
      grid-template-rows: minmax(85vh, 1fr);
    }
  }
</style>