---
import { Dots } from "@assets/Icons";
import ButtonPrimary from "../App/ButtonPrimary.astro";
---

<section
  class="relative pt-10 pb-20 md:py-0 md:grid md:place-content-center grid-cols-2 grid-rows-[fit-content_auto] md:items-center md:gap-y-2 md:px-5"
>
  <h1
    class="col-span-2 text-complementTwo py-2 md:text-primary px-5 md:text-7xl text-left text-[14vw] md:h-full md:py-0 md:px-0"
  >
    View <br />Proyects
  </h1>
  <ButtonPrimary
    href="/proyects"
    className="absolute bottom-0 right-5 md:static md:py-0 md:w-1/2 md:h-full"
  />
  <div class="absolute left-5 bottom-2 md:static md:ml-auto">
    <Dots />
  </div>
</section>
<style>
  section {
    @apply md:bg-complementTwo rounded-lg;
  }
</style>
