<main class="bg-secundary md:rounded-lg flex flex-col gap-y-3 relative py-7">
    <h1 class="md:text-[2.5rem] my-5 text-primary text-[12vw] text-center">
        Who am I?
    </h1>
    <p>Ok, let's do this one last time. My name is Nicolas Amaya, I am from Colombia but move to México a long time ago. Born in July two of two thousand and five. I like to think that I am fluent in English, but I am a native Spanish speaker, noticeable in my spelling.</p>
    <p>Self-taught freelance programmer, specialized in Front-End development with knowledge in CSS, HTML and JavaScript. Also, consume of API, React and Astro JS. This page is made with this tech, and the contact page using React. In the projects page, I show the things I can do. Eager to make your idea come alive.</p>
</main>
<style>
    main{
        grid-area: main; 
    }
    main::before{
		content:""; 
		@apply bg-secundary absolute -top-10 inset-x-0 h-10 rounded-tl-3xl rounded-tr-3xl md:hidden; 
	}
	main::after{
		content:""; 
		@apply bg-secundary absolute -bottom-10 inset-x-0 h-10 rounded-bl-3xl rounded-br-3xl md:hidden; 
	}
    main p{
        @apply px-10 text-center; 
    }
</style>