---
import { getHomeLocale } from "@assets/data/index";

const { info } = getHomeLocale(Astro.currentLocale);
---

<main
  class="bg-secundary md:rounded-lg flex flex-col relative justify-center py-6 md:py-0 rounded-[2.5rem] px-[10%] md:px-7 -mt-5 md:mt-0 gap-y-4"
>
  <h1 class="md:text-[2.5rem] text-primary text-[12vw] text-center">
    {info.header}
  </h1>
  <p class="mb-5 md:mb-2">
    {info.content[0]}
  </p>
  <p>
    {info.content[1]}
  </p>
</main>
<style>
  @reference "@assets/css/index.css";
  p {
    @apply md:w-full;
  }
  p::first-letter {
    @apply md:ml-5;
  }
</style>
