.container-contact {
  flex-direction: column;
  justify-content: center;
  display: flex;
  position: fixed;
  z-index: 50;
  inset: 0;
}
.loader .container {
  --uib-size: 60px;
  --uib-color: #fff;
  --uib-speed: 5s;
  --uib-dot-size: calc(var(--uib-size) * 0.23);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: var(--uib-dot-size);
  filter: url("#uib-jelly-ooze");
}

.loader .dot {
  position: absolute;
  top: calc(50% - var(--uib-dot-size) / 2);
  left: calc(0px - var(--uib-dot-size) / 2);
  display: block;
  height: var(--uib-dot-size);
  width: var(--uib-dot-size);
  border-radius: 50%;
  background-color: var(--uib-color);
  animation: stream var(--uib-speed) linear infinite both;
  transition: background-color 0.3s ease;
}

.loader .dot:nth-child(2) {
  animation-delay: calc(var(--uib-speed) * -0.2);
}

.loader .dot:nth-child(3) {
  animation-delay: calc(var(--uib-speed) * -0.4);
}

.loader .dot:nth-child(4) {
  animation-delay: calc(var(--uib-speed) * -0.6);
}

.loader .dot:nth-child(5) {
  animation-delay: calc(var(--uib-speed) * -0.8);
}

@keyframes stream {
  0%,
  100% {
    transform: translateX(0) scale(0);
  }

  50% {
    transform: translateX(calc(var(--uib-size) * 0.5)) scale(1);
  }

  99.999% {
    transform: translateX(calc(var(--uib-size))) scale(0);
  }
}
@keyframes loading {
  0% {
    width: 100%;
  }
  100% {
    width: 100px;
  }
}
#loading-submit {
  animation-delay: 500ms;
  animation: forwards 500ms loading ease-out;
  @apply bg-complementTwo my-2 w-full p-5 rounded-lg border border-black h-10 md:h-20 mx-auto;
}
@keyframes loading_ {
  0% {
    width: 100px;
  }
  100% {
    width: 100%;
  }
}
#submit {
  animation: forwards 500ms loading_ ease-out;
  @apply bg-complementTwo font-h1 md:text-[32px] my-2 cursor-pointer text-white  p-0 h-10 md:h-20 mx-auto;
}
#submit:focus {
  @apply outline-1 outline-complementOne;
}
.container-contact * {
  opacity: 0;
}
.container-contact[data-inview="true"] * {
  transition: opacity 150ms ease;
  opacity: 1;
}
.container-contact[data-inview="false"] {
  display: none;
}
@keyframes get-in-form {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(100);
  }
}
@keyframes get-out-form {
  from {
    transform: scale(100);
  }
  to {
    transform: scale(0);
  }
}
.background-form {
  background-color: #20202090;
  backdrop-filter: blur(0.2px);
  border-radius: 100%;
  @apply -top-5 -right-5 w-20 h-20 fixed;
}
.background-form[data-inview="true"] {
  transform: scale(100);
}
.background-form[data-inview="false"] {
  display: none;
}
.background-form[data-inview="get-in-form"] {
  animation: get-in-form 500ms forwards;
}
.background-form[data-inview="get-out-form"] {
  animation: get-out-form 500ms forwards;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-inline: auto;
  @apply w-4/5 md:w-1/2;
}
.contact-cross {
  position: absolute;
  @apply right-5 top-5 w-14 aspect-square fill-secundary md:right-14;
}
.contact input,
.contact textarea {
  @apply px-2 py-5 md:p-5 outline-none rounded-lg bg-[transparent] border-solid border-2 border-complementTwo font-p w-full text-complementary;
}
.contact textarea {
  @apply resize-none;
}
.contact label {
  @apply text-complementTwo font-h1 relative pt-10;
}
.contact label > span {
  @apply absolute -top-0 left-0;
}
@keyframes confirmation-animation {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translate(0);
  }
}
@keyframes confirmation-animation-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(150%);
  }
}
.confimation[data-state="true"] {
  animation: confirmation-animation 500ms forwards;
}
.confimation[data-state="false"] {
  animation: confirmation-animation-out 500ms forwards;
  animation-delay: 1000ms;
}
