---
import BackgrounImageAnimation from "./backgroundanimation";
import HeroImage from "./heroImage";
---

<div class="conteiner-proyectCarrusel relative w-full h-full">
  <BackgrounImageAnimation client:load />
  <HeroImage client:load />
</div>
<style>
  .conteiner-proyectCarrusel::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.5;
    @apply md:opacity-75;
    transition: opacity 250ms ease-out;
    z-index: -40;
  }
  .conteiner-proyectCarrusel:hover::before {
    opacity: 0.2;
  }
</style>
