---
import "@assets/css/index.css"
const {desc, title} = Astro.props; 
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={desc}>
		<meta name="theme-color" content="var(--primary)">

		<title>Porfolio{title && ` | ${title}`}</title>
	</head>
	<body>
        <slot /> 
	</body>
</html>
