@reference "@assets/css/index.css";
.menu-proyects {
  @apply fixed inset-0 place-content-center z-10 grid invisible;
}
.menu-proyects ul {
  scrollbar-width: none;
  @apply p-5 rounded-[1rem] min-h-[45vh] max-h-[60vh] overflow-y-scroll md:w-[40vw] w-[90vw] max-w-[600px] bg-complementTwo;
}
@keyframes menu-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menu-animation-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.menu-proyects[data-isvisible="idle"] {
  visibility: hidden;
  z-index: -50;
}
.menu-proyects[data-isvisible="false"] {
  visibility: visible;
  animation: menu-animation-out 250ms ease forwards;
  z-index: -50;
}
.menu-proyects[data-isvisible="true"] {
  visibility: visible;
  animation: menu-animation 250ms ease-in forwards;
  opacity: 1;
}
.menu-proyects li {
  grid-template-columns: 25% 1fr;
  @apply grid text-complementOne cursor-pointer border-b-2 border-complementOne;
}
.menu-proyects li:first-of-type {
  @apply border-t-2 border-complementOne md:mt-14;
}
.menu-proyects span:nth-child(1) {
  display: block;
  font-size: 20px;
  @apply font-title flex justify-center items-center;
}
.menu-proyects span:nth-child(2) {
  display: block;
  @apply font-base text-3xl;
}
